main {
  width: 100%;
  height: 100%;
  position: relative;
}

form {
  position: absolute;
  top: 50%;
  width: 30%;
  right: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  margin: 5px;
  border: 1.6px solid black;
  padding: 3px;
}

form input {
  opacity: 0.6;
}

form button {
  border-radius: 4px;
  width: 100px;
  margin: 10px 0;
}